


.leather-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-height: auto;
    width: 100%;
    max-width: 600px;
    padding: 30px;
}


form .form-label {
    color: #555;
    font-size: 1rem;
}


form .btn-success {
    transition: transform 0.2s, box-shadow 0.2s;
}

form .btn-success:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 128, 0, 0.2);
}


.text-danger {
    font-size: 0.875rem;
}


.form-group {
    margin-bottom: 20px;
}


form .form-label {
    color: #555;
    font-size: 1rem;
}

form .btn-success {
    transition: transform 0.2s, box-shadow 0.2s;
}

form .btn-success:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 128, 0, 0.2);
}


form.code-area .form-control {
    max-width: 200px; /* Limits the input width */
    font-size: 14px;  /* Smaller font size */
    padding: 5px;     /* Compact padding */
}
form.code-area .btn {
    padding: 5px 10px; /* Compact button */
    font-size: 14px;
}

div {
    position: relative;
    float: left;
    ;

}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
}


.container-fluid {
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
}
.list-scroll {
    max-height: 300px;
    overflow-y: auto;
    padding: 0;
    margin: 0;
}

.list-group-item.no-backround {
    background: none;
    border: none;
}


@media (max-width: 768px) {
    .col-md-3, .col-md-9 {
        margin-bottom: 20px;
    }
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.col-md-8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bingo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    gap: 10px;
    max-width: 80%;
    padding: 5px;

}

.bingo-cell {
    aspect-ratio: 1 / 1;
    background-color: rgb(96, 31, 31);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #02092f;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    padding: 0;
    margin: 2px;

}

.bingo-cell a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.bingo-cell a span {
  display: block;
  width: 100%;
  height: auto;
  line-height: 1;
  white-space: normal;
  overflow-wrap: anywhere;
  text-align: center;
  margin: 0;
  padding: 0;
}

.bingo-cell:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px #a9edf7, 0 0 25px #b2e8fb;
}


.button-box {
    text-transform: capitalize;
    padding-top: 15px;
    padding-bottom: 50px;
    margin: 20px;
    width: max-content;
    text-align: center;
}

.center-button {
    padding: 10px 20px;
    font-size: 16px;
    width: auto;
}




.equal-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.weather-box, .players-box, .teams-box {
    margin-bottom: 10px;
    width: 300px;

}

.weather-box {
    flex-grow: 1;

}

.players-box {
    flex-grow: 1;
}

.teams-box {
    flex-grow: 1;
}


@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .col-md-8, .col-md-4 {
        flex: 0 0 100%;
    }

    .center-button {
        width: 100%;
    }
}


.no-backround {
  background: none;
}

.logo-shift-left {
  margin-left: 15px;
}

.logo-shift-right {
    margin-right: 15px;
}


.navbar-nav .nav-link {
    color: black;
    transition: color 0.3s ease;
}


.offcanvas.show .navbar-nav .nav-link {
    color: white;
}


.navbar-nav .nav-link:hover {
    color: #f8f9fa;
}

.navbar .nav-link {
    color: #000;
}

.navbar .nav-link:hover {
    color: #28a745;
}

.footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  margin-top: auto;
  border-top: 1px solid #dee2e6;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.footer-nav a {
  margin-right: 15px;
}

.time-clock{
    margin: auto;
    font-size: 32px;

}
b {
    font-weight: bold;
    text-decoration: none;
    margin: auto;
    font-size: 22px;
}


p {
  font-size: 16px;
    margin: auto
}

body {
  height: 100%;
    padding: 0;
  margin:0;
  display: flex;
  flex-direction: column; /
  min-height: 100vh;
  background-color: #003366;

}

div {
  display: block;
  height: auto;
  object-fit: fill;
}



.box {
  background-color: rgb(244, 236, 236);
  float: none;
  overflow: auto;
  border: 6px solid rgba(128, 111, 0, 0.09);
  margin: 20px;
  padding: 1%;
    justify-content: stretch;
  text-align: center;
  box-sizing: content-box;
    width: fit-content( max(300px, 100px));
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.box-area {
    background-color: rgb(244, 236, 236);
  float: none;
  overflow: auto;
  border: 6px solid rgba(128, 111, 0, 0.09);
  margin: 20px;
  padding: 1%;
  text-align: center;
  box-sizing: content-box;
    width: fit-content( max(300px, 100px));
    border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.profile-picture{

  height: 120px;
  max-width: 60px;
  border-radius: 20%;
  margin-right: 20px;
  object-fit: cover;

}
.venue-picture{
  width: 100%;
  height: 120px;
  max-width: 120px;
  border-radius: 20%;
  margin-right: 20px;
  object-fit: cover;
}





