{% extends "master.html" %}
{% block title %} Activity page {% endblock %}

{% block content %}
<body>
    <div class="container">
        <div class="row gx-0 gy-0">
            <div class="box equal-box weather-box">
                <b>Venue</b>
                <br>
                <li class="list-group-item nobackround">
                    <a class="btn btn-success" href="{% url 'venuepage' activity.venue.id %}">{{ activity.venue }}</a>
                </li>

            </div>
                <div class="box equal-box weather-box">
                    <b>Activity</b>
                    <br>
                    <p>{{ activity.short_description }}</p>
                    <br>
                    <p>{{ activity.full_description }}</p>
                </div>
                <!-- <div class="box equal-box weather-box">
                    <b>Description</b>
                    <br>
                    {{ area.description }}
                </div> -->
                <div class="box equal-box weather-box">
                    <form class="code-area" method="post">
                        <div class="box d-flex align-items-center justify-content-center gap-2">
                            {% if user.is_authenticated and user_has_activity %}
                                {% csrf_token %}
                                <label for="passcode" class="form-label mb-0"><b>{{ form.passcode.label_tag }}</b></label>
                                <input class="form-control form-control-sm w-25" id="passcode" name="passcode" type="text" placeholder="Enter Passcode">
                                <button type="submit" class="btn btn-success btn-sm">Submit</button>
                            {% elif user.is_authenticated and not user_has_activity %}
                                You have completed the task!
                            {% else %}
                                <a class="btn btn-outline-success me-2 pull-left" href="{% url "login" %}">Login</a> to play the game
                            {% endif %}
                        </div>
                    </form>
                </div>
        </div>
    </div>
</body>

{% endblock %}
