{% extends "master.html" %}
{% block title %} Activity page {% endblock %}

{% block content %}

<div class='box'>
    <b>Venue</b>
    <br>
    <a a class="btn btn-outline-success me-2 pull-left" href="{% url 'venuepage' activity.venue.id %}">{{ activity.venue }}</a>
</div>

<div class='box'>
    <b>Activity</b>
    <br>
    {{ activity.short_description }}
    <br>
    {{ activity.full_description }}
</div>

<form method="post">
    <div class="box">
    {% if user.is_authenticated and user_has_activity %}
    {% csrf_token %}
    
        {{ form.passcode.label_tag }}
        {{ form.passcode }}
        <button type="submit" class="btn btn-success center-button">Submit</button>
    {% elif user.is_authenticated and not user_has_activity %}
        You have completed the task!   
    {% else %}
        <a a class="btn btn-outline-success me-2 pull-left" href={% url "login" %}>Login</a> to play the game
    {% endif %}

    </div>
</form>

{% endblock %}
