{% extends "master.html" %}
{% block title %} Activity page {% endblock %}

{% block content %}

<div class='box'>
    <b>Venue</b>
    <br>
    <a class="list-group-ite" href="{% url 'venuepage' activity.venue.id %}">{{ activity.venue }}</a>
</div>

<div class='box'>
    <b>Activity</b>
    <br>
    {{ activity.short_description }}
    <br>
    {{ activity.full_description }}
    <br>
    <button type='submit' class='btn btn-outline-dark pull-right'>Enter passcode</button>

</div>

{% endblock %}
