{% extends "master.html" %}
{% block title %} Area page {% endblock %}

{% block content %}

<body>
    <div class="container">
        <div class="row">
            <div class="box">
                <b>All the areas </b>
                <ul class='list-group' >
                    {% for area in areas %}
                        <li class="list-group-item nobackround">
                            <a class="btn btn-success" href="{% url 'areapage' area.id %}">{{ area.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div></div>
            <div></div>
        </div>
    </div>
</body>

{% endblock %}


