{% extends "master.html" %}
{% block title %} Area page {% endblock %}

{% block content %}

<body>
    <div class="container-fluid-center">
        <div class="row gx-3 gy-3 align-items-start">
            <div class="col-md-6 col-sm-6">
                <div class="box-area equal-box weather-box">
                    <b>All the areas</b>
                    <ul class="list-group list-scroll">
                        {% for area in areas %}
                        <li class="list-group-item no-backround">
                            <a class="btn btn-success" href="{% url 'areapage' area.id %}">{{ area.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                {% if user.is_authenticated %}
                <div class="box-area equal-box weather-box align-items-center">
                        <b>Your area</b>
                        <a class="btn btn-success" href="{% url 'areapage' user.current_area.pk %}">
                            {{ user.current_area }}
                        </a>
                        <div class="box equal-box weather-box align-items-center">
                            <p>"{{ user.current_area.description }}"</p>
                        </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>



{% endblock %}


