{% extends "master.html" %}
{% block title %} Area page {% endblock %}

{% block content %}
<body>
    <div class="container">
        <div class="row gx-0 gy-0">
            <div class="box equal-box weather-box">
                <b>Weather for   {{ weather_data.city }}   </b>
                {% if weather_data %}
                    <p>Temperature: {{ weather_data.temperature }}&deg;C</p>
                    <p>Humidity: {{ weather_data.humidity }}%</p>
                    <p>Wind Speed: {{ weather_data.wind }} m/s</p>
                {% else %}
                    <p>Unable to fetch weather data. Please try again later.</p>
                {% endif %}
            </div>
                <div class="box equal-box weather-box">
                    <b>Area: {{area.name|upper}}</b>
                    {% if user.is_authenticated %}
                    <form method="post" >
                        {% csrf_token %}
                        <button type="submit" name="set_area" class="btn btn-success center-button">
                            Set as Your Current Area
                        </button>
                    </form>
                    {% endif %}
                </div>
                <div class="box equal-box weather-box">
                    <b>Description</b>
                    <br>
                    {{ area.description }}
                </div>
                <div class="box equal-box weather-box">
                    <b>Venues in this area</b>
                    <ul class="list-group list-scroll" >
                        {% for venue in venues %}
                            <li class="list-group-item no-backround">
                                <a class="btn btn-success" href={% url 'venuepage' venue.pk %}>{{ venue }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% if user.is_authenticated and not user.isplayer %}
                        <a class="btn btn-success center-button areapagebox"  href="{% url 'createvenue' %}" role="button">Create Venue</a>
                    {% endif %}
                </div>
        </div>
    </div>
</body>
{% endblock %}
