{% extends "master.html" %}
{% block title %} Lookaround info {% endblock %}

{% block content %}

<body>
    <div class="container-fluid">
        <div class="row gx-0 gy-0">
            <div class="box equal-box weather-box" style="max-width: 1250px;">
                <b>Game Rules </b>
                <p class="fa-window-maximize-text">
                    A player can join a randomly generated game, that is open to everyone up to capacity (20 people).
                The games, that are about to start, will be shown on the main page.
                From there the user will be able to check the bingo card, and join the game, if he feels like it.
                Or if the player is a member of a team, that team can create a game that only this group of users will play.
                The team is created by one user, the team moderator, who can add other users to the team.
                Or a user can ask to join the team, in which case this request can be approved by team moderator.
                The moderator can create a game, and choose if the game is open to public or not.
                If the game is created as public, anybody can join it, and it will be shown on the main page and on the games page.
                A player is then presented with the bingo card. Each cell in the bingo card represents one activity.
                To fill the bingo card, a player must follow the instructions and fulfil  the activity,  and then check the activity as complete, using the given passcode or QR-code. First player, who fills all the cells in the bingo card wins!  The game can have a time limit, or not. One game can be played by up to 20 people. One person can also play the game casually, and use the bingo card as a suggestion for his daily activities. Some of the activities will have a timeframe, depending on the venue work hours.
                </p>
            </div>
                <div class="box equal-box weather-box" style="max-width: 1250px;">
                    <b>Contact </b>
                        <ul class='list-group'>
                            <p>Daniil Popov - Team Leader/Senior Developer</p>
                            <p>Kati Kraavi - Backend Developer</p>
                            <p>Tanel Tarkvee - Frontend Developer</p>
                            <p>Monika Vihmand - Developer</p>
                            <p>Kristjan Peek - Developer</p>
                        </ul>
                </div>
                <div class="box equal-box weather-box" style="max-width: 1250px;">
                    <b>Privacy Policy</b>
                    <p>Play Game and Enjoy Life.</p>
                </div>
        </div>
    </div>
</body>

{#    <div class="box">#}
{#        <h2>Game Rules</h2>#}
{#            <p data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">A player can join a randomly generated game, that is open to everyone up to capacity (20 people).#}
{#                The games, that are about to start, will be shown on the main page.#}
{#                From there the user will be able to check the bingo card, and join the game, if he feels like it.#}
{#                Or if the player is a member of a team, that team can create a game that only this group of users will play.#}
{#                The team is created by one user, the team moderator, who can add other users to the team.#}
{#                Or a user can ask to join the team, in which case this request can be approved by team moderator.#}
{#                The moderator can create a game, and choose if the game is open to public or not.#}
{#                If the game is created as public, anybody can join it, and it will be shown on the main page and on the games page.#}
{#                A player is then presented with the bingo card. Each cell in the bingo card represents one activity.#}
{#                To fill the bingo card, a player must follow the instructions and fulfil  the activity,  and then check the activity as complete, using the given passcode or QR-code. First player, who fills all the cells in the bingo card wins!  The game can have a time limit, or not. One game can be played by up to 20 people. One person can also play the game casually, and use the bingo card as a suggestion for his daily activities. Some of the activities will have a timeframe, depending on the venue work hours.#}
{#            </p>#}
{#    </div>#}
{#    <div class="box">#}
{#        <h2>Contact</h2>#}
{#           <h3>Group Nr. 1</h3>#}
{#               <li >Daniil Popov - Team Leader/Senior Developer</li>#}
{#               <li>Kati Kraavi - Backend Developer</li>#}
{#               <li>Tanel Tarkvee - Frontend Developer</li>#}
{#               <li>Monika Vihmand - Developer</li>#}
{#               <li>Kristjan Peek - Developer</li>#}
{#    </div>#}
{#    #}
{##}


{% endblock %}

