{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="{% static 'appdata/css/styles.css' %}">
    <title>Create Game</title>
</head>

    <body>
    <div class="box", style="margin: auto;">
        <form action="" method="post" novalidate>
        {% csrf_token %}
            {% for fm in form %}
                {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
            {% endfor %}
        <input type="submit" value="Submit">
        </form>
    </div>
    </body>
    </html>