{% extends "master.html" %}
{% block title %} Create Activity {% endblock %}

{% block content %}

<div class="box leather-box">
    <b>Submit Activity Details</b>
    <form action="" method="post" novalidate enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            {% for fm in form %}
                <div class="mb-3">
                    <label for="{{ fm.id_for_label }}" class="form-label fw-bold">{{ fm.label }}</label>
                    {{ fm }}
                    {% if fm.errors %}
                        <div class="text-danger small mt-1">{{ fm.errors|striptags }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div>
            <input class="btn btn-success" type="submit" value="Submit">
        </div>
    </form>
</div>





{% endblock %}