{% extends "master.html" %}
{% block title %} Create Venue {% endblock %}

{% block content %}

<body>
    <div class="box leather-box" style="margin: auto;">
        <b> Submit Venue Details</b>
        <form action="" method="post" novalidate enctype='multipart/form-data'>
        {% csrf_token %}
            {% for fm in form %}
                <p>{{fm.label_tag}} {{fm}} {{fm.errors|striptags}}</p> <br><br>
            {% endfor %}
            <button type='submit' class="btn btn-success center-button">Submit</button>
        </form>
    </div>
</body>

{% endblock %}
