<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game page</title>
</head>
<body>
<div>
    <h1>Welcome to the Game Page</h1>

    <h2>All the activities listed in this game:</h2>
    <ul>
        {% for activity in activities %}
            <li>
                <a href="{% url 'activitypage' activity.id %}">{{ activity.short_description }}</a>
            </li>
        {% endfor %}
    </ul>

    <br>

    Players and Leader Boards
    <ul>
        {% for player in players %}
            <li>
                {{ player.username }}
            </li>
        {% endfor %}
    </ul>


    <!-- Activity log -->

    <!-- Join game button -->
    <button>Join Game</button>


</div>
</body>
</html>
