
{% extends "master.html" %}
{% block title %} Game page {% endblock %}

{% block content %}
{% load static %}


<div>
    <!-- BINGO GRID -->
    <div class='box'>
        <b>Bingo card</b>
    </div>
    <div class='bingo-grid'>
        {% for activity in activities|slice:":9" %}    <!-- take first 9 activities from the current game, leave empty box if not enouch boxes -->
            <div class='bingo-cell' data-id='{{ activity.id }}'>
                <a href='{% url "activitypage" activity.id %}' 
                style='color: inherit; text-decoration: none;'>
                    {{ activity.short_description }}
                </a>
            </div>
        {% endfor %}
    </div>
    <div class='box'>
         <b>Players in this game</b>
         <ul>
            {% for player in players %}
                <li>
                    {{ player.username }}
                </li>
            {% endfor %}
        </ul>
        {% if user in players %}
            <form method="post" action="{% url 'leave_game' game.id %}">
                {% csrf_token %}
                <button type='submit' class='btn btn-outline-dark pull-right'>Leave game</button>
            </form>
            {% else %}
            <form method="post" action="{% url 'join_game' game.id %}">
                {% csrf_token %}
                <button type='submit' class='btn btn-outline-dark pull-right'>Join game</button>
            </form>
        {% endif %}        
    </div>
   
    <div class='box'>
     
    <b>Teams in this Game</b>
     <ul>
        {% for team in teams %}
            <li>
                {{ team.name }}
            </li>
        {% endfor %}
    </ul>       
    </div>
    <!-- Activity log -->

</div>

{% endblock %}