{% extends "master.html" %}
{% block title %} Game page {% endblock %}

{% block content %}

    <h1>Welcome to the Game Page for all the games</h1>
    <ul class="list-group">
        {% for game in games|slice:"10" %}
            <li class="list-group-item">
                <a class="btn btn-primary" href="{% url 'gamepage' game.id %}" >{{ game.id }}</a>
                {{ game}}
            </li>
        {% endfor %}
    </ul>

    <ul class='box'>
    <b> All your games</b>
        {% for game in games %}
            {% if user in game.players.all  %}
            <li>
                <a class="list-group-ite" href="{% url 'gamepage' game.id %}">{{ game.id }}</a>
                {{ game }}
            </li>
            {% endif %}
        {% endfor %}
    </ul>

    <a class="btn btn-outline-dark pull-left" type="button" href="{% url 'creategame' %}">Create game</a>




{% endblock %}