{% extends "master.html" %}
{% block title %} Game page {% endblock %}

{% block content %}

    <h1>Welcome to the Game Page for all the games</h1>
    <div class="box">
        <div class="row row-cols-1 row-cols-md-3 g-4"><h2>All the game:</h2>
            <ul class="list-group">
                {% for game in games|slice:"10" %}
                    <li class="list-group-item nobackround" >
                        <a class="btn btn-success" href="{% url 'gamepage' game.id %}" >{{ game.id }}</a>
                        {{ game}}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="box">
        <div class="row row-cols-1 row-cols-md-3 g-4"><h2>All your games:</h2>
            <ul class='list-group'>
                {% for game in games %}
                    {% if user in game.players.all  %}
                        <li class="list-group-item nobackround">
                            <a class="btn btn-success" href="{% url 'gamepage' game.id %}">{{ game.id }}</a>
                            {{ game }}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="parent-container">
        <a class="btn btn-success center-button" type="button" href="{% url 'creategame' %}" role="button">Create game</a>
    </div>




{% endblock %}