{% extends "master.html" %}
{% block title %} Home {% endblock %}

{% block content %}
<div class="box">
    <b>Weather</b>
    City - Temp
    cloudyness

</div>
<div class="box">
    <b>available areas</b>
        <ul>
            {% for area in area %}
                <li>{{ area }}</li>
            {% endfor %}
        </ul>  
</div>

<div class="box">
    <b>Available ongoing games</b>
        <ul>
            {% for game in games %}
                <li>
                    <a href="{% url 'gamepage' game.id %}">{{ game }} </a>
                </li>
            {% endfor %}
        </ul>
</div>

{% endblock %}
