{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'appdata/css/styles.css' %}">
</head>
<body>

{% block body %}


<!-- Top Navigation Menu -->
<div class="topnav">
    <li><a href="" class="active">Logo</a></li>
    <div id="myLinks">
      <a href="Area">Area</a>
      <a href="gamespage/">Games</a>
      <a href="#Teams">Teams</a>
      <a href="#Friends">Friends</a>
      <a href="userpage/">Profile</a>
      <a href="contactpage/">Game Rules</a>
      <a href="contactpage/">Contact</a>
      <a href="contactpage/">Privacy Policy</a>
    </div>
    <li><a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
    </a></li>
    <li>float:right<a href="login" class="button">Login</a></li>

</div>

   
{% endblock %}

{% block content %}
{% endblock %}




<script>
function myFunction() {
  var x = document.getElementById("myLinks");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>

</body>
</html>




