{% extends "master.html" %}
{% block title %} Team page {% endblock %}

{% block content %}


<body>
    <div class="container-fluid">
        <div class="row gx-0 gy-0">
            <div class="box equal-box weather-box">
                <b>Team name: {{team.name}}</b>
            </div>
            <div class="box equal-box weather-box">
                <ul class='list-group list-scroll'>
                    {% for game in games %}
                        <li class="list-group-item nobackround">
                            {{ game}}
                        </li>
                    {% endfor %}
                </ul>
                <b>Moderator:</b>
                <p>{{team.moderator|upper}}</p> <br>
            </div>


            <div class="box equal-box weather-box">
                <b>Players in this team</b>
                <ul>{% for player in teamplayers %}
                    <li class="list-group list-scroll">
                        {{ player.username }}
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>

{% endblock %}