{% extends "master.html" %}
{% block title %} All teams {% endblock %}

{% block content %}
<body>
    <div class="container-fluid">
        <div class="row gx-0 gy-0">
            <div class="col-md-2">
                <div class="box equal-box weather-box">
                    <b>All available teams </b>
                    <ul class='list-group' >
                        {% for team in teams|slice:"5" %}
                        <li class="list-group-item nobackround" >
                            <a class="btn btn-success" href=" {% url 'teampage' team.id %}">{{ team.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="button-box text-start">
                    <a class="btn btn-success" href="{% url 'createteam' %}" role="button">Create team</a>
                </div>
            </div>
            <div class="col ">
                <div class="box equal-box weather-box">
                    <b>All Your teams </b>
                    <ul class='list-group' >
                        {% for team in teams %}
                            {% if user in team.team_user.all or user == team.moderator %}
                                <li class="list-group-item nobackround">
                                    {{ team.name|upper }} - moderator: {{ team.moderator|upper }}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}