{% extends "master.html" %}
{% block title %} Profile {% endblock %}
{% block content %}

{% load static %}

<div>
    <div class='box'>
        <div class="profile-header">
            <img class="profile-picture" src="{{ user.userpic.url }}">
            <div class="text-container">
                Name:<b> {{ user.first_name }} {{ user.last_name }}</b>
                <br>
                Username: <b>{{ user.username }}</b>
                <br>
                <b>Something about you:</b>
                <br>
                {{ user.short_bio }}
            </div>
        </div>
    </div>
        <div class='box'>
            <b>Your Games:</b>
            <ul>
                {% for game in games %}
                    <li>
                        <a href="{% url 'gamepage' game.id %}">{{ game.id }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class='box'>
            <b>Your Teams:</b>
            <ul>
                {% for team in teams %}
                    <li>{{ team.name }} - moderator: {{team.moderator}}</li>
                {% endfor %}
            </ul>
        </div>
    
    {% endblock %}
</div>