{% extends "master.html" %}
{% block title %} {{ venue }} {% endblock %}

{% block content %}
<body>
    <div class="container">
        <div class="row gx-0 gy-0">
            <div class="box equal-box weather-box">
                <img class="venue-picture" src="{{ venue.picture.url }}" alt="">
                <br>
                <b>{{venue.name}}</b>
                <div class="list-group list-scroll">
                    <li class="list-group-item nobackround">
                        Name: {{venue.name}}<br>
                        Area: {{venue.area}}<br>
                        {% if venue.opening_hour and venue.closing_hour %}
                            Opening hours: <br>
                            {{venue.opening_hour}}<br>
                            {{venue.opening_hour}}<br>
                        {% endif %}
                        <br>
                        {% if user == venue.contact %}
                            <a class="btn btn-success center-button" href="{% url 'createactivity' %}" role="button">Create Activity</a>
                        {% endif %}
                    </li>
                </div>
            </div>
            <div class="box equal-box weather-box">
                <b>Description</b>
                <br>
                {{venue.description}}
            </div>
            <div class="box equal-box weather-box">
                <b>Contact</b><br>
                <p>{{venue.contact|upper}}</p> <br>
                <a class="btn btn-success center-button" type="button" target="_blank" href="{{ venue.tripadvisor_link }}">Tripadvisor LINK</a>
            </div>
        </div>
    </div>
</body>

{% endblock %}




class Venue(models.Model):
    name = models.CharField(max_length=32)
    area = models.ForeignKey(Area, on_delete=models.CASCADE)
    opening_hour = models.TimeField(auto_now=False, auto_now_add=False, null=True, blank=True)
    closing_hour = models.TimeField(auto_now=False, auto_now_add=False, null=True, blank=True)
    description = models.TextField(max_length=200, blank=False)
    picture = models.ImageField(upload_to='images', null=True)
    contact = models.ForeignKey(CustomUser, null=True, on_delete=models.SET_NULL)
    tripadvisor_link = models.URLField(max_length=200, null=True, blank=True)