{% extends "master.html" %}
{% block title %} Login {% endblock %}

{% block content %}

<body>
    <div class="container-fluid" style="margin: auto;">
        <div class="box leather-box">
            <form method="post">
                {% csrf_token %}
                <br>
                <p>{{ form.as_p }}</p><br>
                <button class="btn btn-success center-button" type="submit">Login</button>
            </form>
            <hr>
            <a class="btn btn-outline-success me-2 pull-left"  type="button" href="{% url 'signup' %}">Register user</a>
        </div>
    </div>
</body>


{% endblock %}