{% extends "master.html" %}
{% block title %} Login {% endblock %}

{% block content %}

    <div class='box', style='margin: auto;'>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success center-button" type="submit">Login</button>
        </form>

        <hr>
        <a class="btn btn-outline-success me-2 pull-left" style='margin: auto;' type="button" href="{% url 'signup' %}">Register user</a>
    </div>



{% endblock %}