{% extends "master.html" %}
{% block title %} Signup {% endblock %}

{% block content %}

<body>
    <div class="container-fluid">
        <div class="box leather-box">
            <form action="" method="post" novalidate>
            {% csrf_token %}
                {% for fm in form %}
                    <p>{{fm.label_tag}} {{fm}} {{fm.errors|striptags}} </p><br>
                {% endfor %}
                <button class="btn btn-success center-button" type="submit">Register</button>
            </form>
        </div>
    </div>
</body>
{% endblock %}
